.jumbotron {
  color: black;
  margin-top: 80px;
  margin-bottom: 0px;
  text-align: center;
}
footer {
  padding: 10px 10px 10px;
  background-color: #b2e0fa;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card_lu {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.logo {
  margin: 15px;
}
nav {
  background-color: #b2e0fa;
  padding: 2px;
}
.fondo {
  margin-top: 0px;
  margin-bottom: 10px;
}
ul {
  padding: 10px;
}
#buttonCollapse {
  margin: 10px;
}
.contacto {
  text-align: center;
}
.img {
  width: 100%;
  height: 550px;
}
