$blue: #b2e0fa;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
} 
.jumbotron {
    color: black;
   @include margenes(80px, 0px);
    text-align: center;
}

footer {
    padding: 10px 10px 10px;
    background-color: $blue;
    @include margenes(10px, 0px);
}

.card_lu {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    padding-right: 10px;
}
.logo {
    @include margenes(15px, 15px);

}

nav{
    background-color: $blue;
    padding: 2px;
}

.fondo {
    @include margenes(0px, 10px);
    }
ul {
    padding: 10px;
}
#buttonCollapse {
    margin: 10px;
}
.contacto {
    text-align: center;
}
.img {
        width: 100%;
        height: 550px;
     }