@blue: #b2e0fa;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    color: black;
    .margenes(80px, 0px);
    text-align: center;
}

footer {
    padding: 10px 10px 10px;
    background-color: @blue;
    .margenes(10px, 0px);
}

.card_lu {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    padding-right: 10px;
}
.logo {
margin: 15px;
}

nav{
    background-color: @blue;
    padding: 2px;
}

.fondo {
    .margenes(0px, 10px);
}

ul {
    padding: 10px;
}
#buttonCollapse {
    margin: 10px;
}
.contacto {
    text-align: center;
}
.img {
        width: 100%;
        height: 550px;
     }